@media (max-width: 1024px){
    *{
        box-sizing: border-box;
    }
    /*css do header-------------------------------------------------------*/
    .contatos{
        display: none;
    }

    .nome{
        width: 50%;
        margin: 5px;
        display: flex;
        justify-content: start;
    }


    .botao{
       display: none;
    }

    .botao button{
        display: none;
    }

    .hamburguer{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        height: 40px;
        align-items: center;
        

    }
    .menu-hamburguer {
        width: 30px;
        display: block;
        background-color: white;
        height: 35px;
        font-size: 20px;
        text-align: center;
        border: 0px;
    }
    /*css do meio-------------------------------------------------------*/
    section{
        flex-direction: column;
    }

    .textos-centro{
        height: 700px;
        width: 90%;
    }

    .preto{
        font-size: 30px;
    }

    .laranja{
        font-size: 30px;
        color: rgb(255, 123, 0);
    }

    .texto-mini{
        height: 200px;
    }

    .imgResp img{
        display: block;
        height: 300px;
    }

    .botaos{
        justify-content: space-around;
    }

    .B01{
        height: 30px;
        width: 30%;
    }
    .B02{
        height: 30px;
        width: 30%;
    }
    .B01:hover{
        height: 30px;
        width: 30%;
    }
    .B02:hover{
        height: 30px;
        width: 30%;
    }
    .redes{
        border: solid black 1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imagem-centro{
        display: none;
    }

    .T01 p{
        text-align: center;
        margin-right: 5px;
    }

    .T02 p{
        text-align: center;
        margin-left: 5px; 
        margin-right: 5px;
    }

    .T03 p{
        text-align: center;
        margin-right: 5px;
    }
    
}